body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #5d663e;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 12px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px; 
    width: 100%; 
}

form {
    border: 5px solid rgb(39, 38, 38); 
    padding: 20px; 
    border-radius: 12px; 
}

input, button {
    display: block;
    padding: 8px;
    margin-bottom: 10px; 
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px; 
}

input {
    border: 1px solid #ccc;
}

button {
    background-color: rgb(78, 60, 25); 
    border: none;
    color: #ffffff; 
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    cursor: pointer;
    border-radius: 8px; 
}

button:hover {
    background-color: rgb(60, 50, 20);
}

#resultado {
    margin-top: 10px;
    font-size: 16px;
}
